@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";


@font-face {
    font-family: 'Changeling-Neo';
    src: url('./assets/fonts/Changeling Neo Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Risk-Atoms';
    src: url('./assets/fonts/Risk Atoms.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.hero-font {
    font-family: 'Changeling-Neo', sans-serif;
}
.header-font {
    font-family: 'Risk-Atoms', sans-serif;
}

a {
    font-family: 'Inter', sans-serif;
}
.orbitron {
    font-family: "Orbitron", sans-serif;
}
.gloock {
    font-family: "Gloock", serif;
}
